<div class="menu-container">
  <div class="buttons-container">
    <a mat-button class="menu-button" (click)="toggleMenu()">
      <img src="assets/windows48x48.svg" alt="Windows Menu">
    </a>
    <a mat-button >
      <img src="assets/chrome48x48.svg" alt="Windows Menu">
    </a>

    <a href="https://github.com/tarikraposo" mat-button target="_blank">
      <img src="assets/github48x48.svg" alt="Windows Menu">
    </a>


    <a mat-button href="https://www.linkedin.com/in/tarik-raposo-90a901144/" target="_blank">
      <img src="assets/linkedin48x48.svg" alt="Windows Menu">
    </a>


    <a mat-button (click)="toggleExplorer()" >
      <img src="assets/folder48x48.svg" alt="Windows Menu">
    </a>

    <div class="custom-menu" *ngIf="menuOpen===true">
      <app-menu-content/>
    </div>
  </div>
</div>
